[submodule "bundle/ctags.vim"]
	path = bundle/ctags.vim
    url = https://github.com/vim-scripts/ctags.vim.git
[submodule "bundle/The-NERD-tree"]
    path = bundle/The-NERD-tree
    url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/vim-airline"]
    path = bundle/vim-airline
    url = https://github.com/vim-scripts/vim-airline.git
[submodule "bundle/vim-fugitive"]
    path = bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
    path = bundle/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vundle"]
    path = bundle/vundle
    url = https://github.com/gmarik/vundle.git
[submodule "bundle/command-t"]
    path = bundle/command-t
    url = https://github.com/wincent/command-t.git
